In [5]:
import pandas as pd
import numpy as np
import requests
from urllib.parse import urlencode

In [6]:
base_url = 'https://cloud-api.yandex.net/v1/disk/public/resources/download?'
public_key = 'https://disk.yandex.ru/d/12gk_ATEeBZm4A' # Ссылка на яндекс диск

# Получаем загрузочную ссылку
final_url = base_url + urlencode(dict(public_key=public_key))
response = requests.get(final_url)
download_url = response.json()['href']

# Получаем dataframe
df = pd.read_csv(download_url, sep=';')

In [10]:
df['isBuy'] = (df.revenue > 0)*1

In [16]:
df.groupby('testgroup', as_index=0).agg({'revenue' : 'mean', 'isBuy' : 'mean'})

  testgroup    revenue     isBuy
0         a  25.413720  0.009540
1         b  26.751287  0.008906